# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

.venv/
venv/
env/

.ipynb_checkpoints/

mlflow.db
mlartifacts/
mlruns/

artifacts/

data_*.csv
*.parquet

*.pdf
*.log
.DS_Store
Thumbs.db

.env
